.storeContainer {
  font-family: Rajdhani;
  color: var(--text);
  margin-top: 10rem;
}

.storeContainer nav button {
  border-radius: 0rem;
}

.storeContainer div:last-child {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 1000px) {
  .storeContainer {
    margin-top: 2rem;
   }
}